<script>
    import Category from './Category.svelte'
    let content;
    let heading = "Umfrage zur Stunde";

    function loadFile(ev) {
        var file = this.files[0];
        var reader = new FileReader();

        reader.readAsText(file, "UTF-8");
        reader.onload = ev => content = JSON.parse(ev.target.result);
    }
</script>

<main>
    {#if content === undefined}
    <input type="file" accept="text/json" on:change={loadFile}>
    <input type="text" bind:value={heading}>
    {:else}
        <h1>{heading}</h1>
        {#each content as category}
            <Category category={category} />
        {/each}
    {/if}
</main>

<style>
    h1 {
        margin-bottom: 5em;
    }

	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>