<script>
    import Question from "./Question.svelte";
    export let category;

    $: questions = category.questions
        .filter(cat => cat["student"] !== "")
        .map(cat => cat["student"])
</script>

{#if questions.length > 0}
<div class="pagebreak">
    <h1>{category.title}</h1>

    {#each questions as question}
        <p><Question text={question}/></p>
    {/each}
</div>
{/if}

<style>
    @media print {
        .pagebreak {
            clear: both;
            page-break-inside: avoid;
        }
    }
    h1 {
        text-align: left;
		font-size: 2em;
		font-weight: 100;
	}
</style>