<script>
    export let text;
</script>

<div>
    <p>{text}</p>
    <span>
        keine Angabe <input type="radio" class="spacer">
        stimme nicht zu
        <input type="radio">
        <input type="radio">
        <input type="radio">
        <input type="radio">
        stimme zu
    </span>
</div>

<style>
    p {
        font-weight: 100;
        font-size: large;
        text-align: left;
        margin-bottom: 0;
    }
    span {
        text-align: left;
    }
    .spacer {
        margin-right: 2em;
    }
    div {
        margin-bottom: 2em;
    }
</style>